.feedback
  .control-icons
    visibility hidden
  .avatar
    display inline-block
    vertical-align bottom
    width 28px
    height 28px
    border-radius 28px
    margin-right 10px
    background-position center center
    background-repeat no-repeat
    background-size cover
  .inline-link
    text-decoration underline
    &:hover, &:focus, &:active
      color #333333
  .atom::before
    content "• "
  .atom:first-child::before
    content ""
  p:empty
    display none

.feedback.list-group-item.is-open
  border-left-width 4px
  .list-group-item-heading
    margin-bottom 14px
  .control-icons
    visibility visible

a.feedback.list-group-item
  &:hover, &:focus
    background-color #ffffff
    .control-icons
      visibility visible
