template(name="feedback")
  a.feedback.list-group-item(href="#" class="{{#if isOpen}}is-open{{/if}}")
    p.list-group-item-heading
      | {{text}}
    if isOpen
      p.text-muted.list-group-item-heading
       | {{label}}
       span.text-muted {{placeholder}}
      p.text-muted
        a.text-muted.passthru.source-url(href="{{sourceUrl}}" target="_blank") {{sourceUrlCast}}
        | on
        | {{createdAt}}