template(name="feedback")
  a.feedback.list-group-item(href="#" class="{{#if isOpen}}is-open{{/if}}")
    p.list-group-item-heading
      .control-icons.pull-right
        span.toggle-is-starred.fa.fa-lg.fa-fw(class="{{#if isStarred}}fa-star{{else}}fa-star-o{{/if}}")
        span.toggle-is-archived.fa.fa-lg.fa-fw(class="{{#if isArchived}}fa-check-circle{{else}}fa-check-circle-o{{/if}}")
      | {{text}}
    if isOpen
      .list-group-item-text
        //p.text-muted
        // | {{label}}
        // span.text-muted {{placeholder}}
        .control-icons.pull-right
          span.remove.fa.fa-lg.fa-fw.fa-trash-o
        p.text-muted
          span.atom: a.text-muted.passthru.source-url(href="mailto:{{sourceUserEmail}}?subject={{sourceUserEmailSubject}}" target="_blank") {{sourceUserEmail}}
          span.atom {{sourceUserId}}
        p.text-muted
          span.atom: a.text-muted.passthru.source-url(href="{{sourceUrl}}" target="_blank") {{sourceUrlCast}}
          span.atom(title="{{createdAt}}") {{momentFromNow createdAt}}