template(name="feedback")
  a.feedback.list-group-item(href="#" class="{{#if isOpen}}is-open{{/if}}")
    p.list-group-item-heading
      | {{text}}
      span.text-muted
        | ~
        a.text-muted.passthru(href="{{sourceUrl}}" target="_blank") {{sourceUrlCast}}
    if isOpen
      p