template(name="widget")
  .container
    .row
      .col-xs-12.col-md-6
        .panel.panel-default
          .panel-heading
            h4 Step 1. Customize
          .panel-body
            form
            .form-group
              input(placeholder="Name of your widget" value="{{widget.name}}").form-control
            .form-group
              input(placeholder="I wish this page" value="{{widget.label}}").form-control
            .form-group
              input(placeholder="...had better graphics" value="{{widget.placeholder}}").form-control
            .form-group
              .input-group
                span.input-group-btn.btn-group-sm
                  button.btn.btn-default.fa.fa-paper-plane(class="")
                  //TODO make active switchable
                  button.btn.btn-default.fa.fa-check(class="")
                  button.btn.btn-default.fa.fa-reply(class="")
                  button.btn.btn-default.fa.fa-rocket(class="")
                  button.btn.btn-default(style="margin-right:10px; max-width:inherit;" class="active") Text
                input.form-control(type='text', placeholder='Send')
            .form-group
              textarea(placeholder="Paste custom CSS here", rows="6").form-control
      .col-xs-12.col-md-6
        .panel.panel-default
          .panel-heading
            h4 Step 2. Apply to your site
          .panel-body
            .panel
              // Add scaling if possible
              iframe(src="https://wishpool-widget.meteor.com/" height="40px" frameborder="0" style="display: block; margin: 0 auto;")
            form(role="form")
            .form-group
              textarea(rows="4").form-control
                | some code
            button.btn.btn-success.copy-to-clipboard(type="button") Copy to clipboard
            | &nbsp; and paste to the site
