template(name="widget")
  .container
    .row
      .col-xs-12.col-md-6
        .panel.panel-default
          .panel-heading
            h4 Step 1. Customize
          .panel-body
            form
            .form-group
              input(placeholder="Name of your widget" value="{{widget.name}}").form-control
            .form-group
              input(placeholder="I wish this page" value="{{widget.label}}").form-control
            .form-group
              input(placeholder="...had better graphics" value="{{widget.placeholder}}").form-control
            .form-group.form-inline
              .btn-group.btn-group-md
                button.btn.btn-default.btn-sm.btn-group.fa.fa-paper-plane
                //TODO make active switchable
                button.btn.btn-default.btn-sm.btn-group.fa.fa-check
                button.btn.btn-default.btn-sm.btn-group.fa.fa-reply
                button.btn.btn-default.btn-sm.btn-group.fa.fa-rocket
                button.btn.btn-default.btn-sm.btn-group.fa.active Text
              input(placeholder="Send").form-control
            .form-group
              textarea(placeholder="Paste custom CSS here", rows="6").form-control
      .col-xs-12.col-md-6
        .panel.panel-default
          .panel-heading
            h4 Step 2. Apply to your site
          .panel-body
            form(role="form")
            .form-group
              textarea(rows="4").form-control
                | some code
            button.btn.btn-success.copy-to-clipboard(type="button") Copy to clipboard
            | &nbsp; and paste to the site
