<template name="features">
  <div class="welcome">
    <div id="features">
      <header class="navbar navbar-inverse normal" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">Wishpool</a>
          </div>
          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="features.html">Use cases</a></li>
              <li><a href="contactus.html">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right visible-md visible-lg">
              {{> loginButtons type="NavbarButton"}}
            </ul>
          </nav>
        </div>
      </header>
      <div id="tabs">
        <div class="container">
          <div class="row header">
            <h3>Give your users a voice</h3>
            <p>Let them tell you what they want.</p>
          </div>
          <div class="row">
            <div class="col-md-12 tabs-wrapper">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">User request driven development</a></li>
                <li><a href="#profile" data-toggle="tab">Reach product/market-fit</a></li>
                <li><a href="#messages" data-toggle="tab">Conversion optimization</a></li>
                <li><a href="#settings" data-toggle="tab">UX improvements</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                  <div class="col-md-6 info">
                    <h4>What is user request driven development?</h4>
                    <p> At the core of every great company, is a great product. A product that users love! By getting more user requests, you can make your users love you even more.
                      You don't have to guess what they want, just let them tell you. Build your product roadmap with user requests instead of wild guesses.
                    </p>
                  </div>
                  <div class="col-md-6 image">
                    <img src="images/tabs/pic1.png" class="img-responsive" alt="picture1" />
                  </div>
                </div>
                <div class="tab-pane fade" id="profile">
                  <div class="col-md-6 image">
                    <img src="images/portfolioitem1.png" class="img-responsive" alt="picture2" />
                  </div>
                  <div class="col-md-6 info">
                    <h4>Reach product/market-fit faster</h4>
                    <p> "I think most businesses that fail do it because they don't give customers what they want." - Paul Graham. Don't waste your time building and testing features that users probably don't want. Reach product/market-fit by listening to your users more. We make it easy to listen to your customers.
                    </p>
                  </div>
                </div>
                <div class="tab-pane fade" id="messages">
                  <div class="col-md-6 info">
                    <h4>Improve conversions</h4>
                    <p> What if your page is missing some thing obvious? If your users can't tell that to you, your missing out on a huge opportunity. Let your users tell you how to make them convert more.
                    </p>
                  </div>
                  <div class="col-md-6 image">
                    <img src="images/tabs/pic2.png" class="img-responsive" style="position: relative;top: 15px;" alt="picture3" />
                  </div>
                </div>
                <div class="tab-pane fade" id="settings">
                  <div class="col-md-6 image">
                    <img src="images/tabs/pic1.png" class="img-responsive" alt="picture4" />
                  </div>
                  <div class="col-md-6 info">
                    <h4>Improved user experience</h4>
                    <p> Wheres the signup button? What does this do? I wish this page was responsive. How do you improve your users happiness with your product, if they can't communicate with you? Allow them to tell you how you can make them love your product more.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2 xs-hidden improve">
              <iframe src="https://widget.wishpool.me/sESEdELbhya9g43Pf?userName=&userEmail=&userAvatarUrl=&userIsPaying=&userId=" frameborder="0" scrolling="no" allowtransparency="yes" style="display: block; margin: 0 auto; width: 100%; height: 40px;"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div id="footer-white">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 menu">
              <h3>Overview</h3>
              <ul>
                <li>
                  <a href="/features">Features</a>
                </li>
                <li>
                  <a href="/features">Use Cases</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3 menu">
              <h3>Menu</h3>
              <ul>
                <li>
                  <a href="/aboutus">About us</a>
                </li>
                <li>
                  <a href="/contact">Contact us</a>
                </li>
                <li>
                  <a href="">Jobs</a>
                  <a href="" class="hiring">
                    We're hiring!
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-sm-2 menu">
              <h3>Social</h3>
              <ul>
                <li>
                  <a href="#">Youtube</a>
                </li>
                <li>
                  <a href="#">Facebook</a>
                </li>
                <li>
                  <a href="#">Twitter</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4 newsletter">
              <div class="signup clearfix">
                <p>
                  Sign up for the newsletter and we'll inform you of updates, offers and more.
                </p>
                <form>
                  <input type="text" name="email" class="form-control" placeholder="Your email address" />
                  <input type="submit" value="Sign up" />
                </form>
              </div>
            </div>
          </div>
          <div class="row credits">
            <div class="col-md-12">
              Copyright © 2014. Wishpool
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
