template(name="welcome")
  .welcome
    main#top.masthead.color1(role='main')
      .container
        h1.logo
          a(href='/')
            | WISHPOOL
        h2
          | Look Into Customer
          br(class="visible-xs")
          span.typed
        .row
          .col-md-6.col-sm-12.col-md-offset-3.subscribe
            button.btn.btn-success.btn-large.login-with-google(type='submit') Sign in with Google
      a.scrollto(href='#explore')
        p SCROLL TO LEARN MORE
    #explore.container
      .section-title
        h2 Retain More Customers
        h4 with instant feedback widget for your site
      section.breath.row
        | I wish this page
        .input-group
          input.form-control(placeholder="had better graphics")
          span.input-group-btn
            button.btn.btn-default(type="submit") Go!
      section.row
        .col-xs-12.text-center
          button.btn.btn-success.btn-large.login-with-google(type='submit') Install On Your Site
          h4 * fits perfectly in footer
      .section-title
        h2 Marvelous Benefits
      section.row.features
        .col-sm-6.col-md-4
          .thumbnail
            img(src='images/diamond.png')
            .caption
              h3 Outsmart competitors
              p Get a leading edge by capturing feedback that is "too small to mention".
        .col-sm-6.col-md-4
          .thumbnail
            img(src='images/target.png')
            .caption
              h3 Answer the IPO question
              p
                | If your customers had a magic wand, what would they wish for?
        .col-sm-12.col-md-4
          .thumbnail
            img(src='images/woman.png')
            .caption
              h3 Bask in user love
              p "One day I wished for email notifications. The other day I started receiving them!"
      .section-title
        h2 Wonderful Price
      section.row.breath.planpricing
        .col-md-4.col-md-offset-4
          .pricing.color1
            .price
              | FREE
            .billing For 20 wishes per week
            .billing $3/mo for unlimited wishes
            .zephyr
              .billing Easy install
              .billing Analytics
              .billing A/B testing
              .billing Capture unsent feedback
            .zephyr
              button.btn.btn-success.btn-large.login-with-google(type='submit') Sign in with Google
    .highlight.testimonials
      .container
        .section-title
          h2 What Other People Say
          h4 Real quotes from blog posts
        section.row.breath
          .col-md-6
            .testblock
              | ... we received about 10,000 customer wishes; today, we are averaging about 70-100 wishes per day. We are thrilled by this, because we use these wishes to help shape our product roadmaps, granting as many of them as our engineers can handle... (<a href="https://meraki.cisco.com/blog/2013/10/make-a-wish/" target="_blank">source</a>)
            .clientblock
              img(src='/images/emily.jpg')
              p
                strong Emily Sporl
                br
                | Product Marketing Manager at Meraki, Inc.
          .col-md-6
            .testblock
              | Most customers won’t expect you to reply to these kind of comments so it’s a nice way to collect feedback without having to stress to much about it. Make sure you still check it though! (<a href="http://blog.frontapp.com/7-tips-for-gathering-quality-feedback-from-your-customers" target="_blank">source</a>)
              br
              | &nbsp;
            .clientblock
              img(src='/images/alice.jpg')
              p
                strong Alice Default
                br
                | Growth and Marketing, Front App
    //.section-title
    //    h5 Frequently Asked Questions
    //  section.row.faq.breath
    //    .col-md-6
    //      h6 How does the free trial work?
    //      p
    //        | Our 10 day trial is 100% free and does not require credit card information to start. If at the end of your trial you would like to upgrade, great. If not, you can cancel your account altogether, or let us mark it as inactive for you to come back to later.
    //      h6 Can I switch plans later?
    //      p
    //        | Absolutely. You can switch between our paid plans, or cancel your account altogether, whenever you like. We will adjust any payments accordingly.
    //    .col-md-6
    //      h6 Do I need to choose a plan now?
    //      p
    //        | No. You get the full featured, unlimited version of Startup completely free for 10 days. Once you're ready to upgrade, you may choose a plan which suits your needs.
    //      h6 What payment types do you accept?
    //      p
    //        | We accept payments from MasterCard, Visa, Visa Debit and American Express. We do not accept PayPal. Remember, you do not need to supply card details to start your free trial.
    main.footercta(role='main')
      .container
        h2
          | Get Different Customer Feedback
        .row
          .col-md-12.text-center
            button.btn.btn-success.btn-large.login-with-google(type='submit') Sign in with Google
    .container
      section.row.breath
        .col-md-12
          .footerlinks
            //a(href='#') About
            //a(href='#') Pricing
            //a(href='blog.html') Blog
            //a(href='#') Help
            //a(href='#') Contact
            //a(href='#') Privacy
            //a(href='#') Terms
          p.text-center © 2014 Wishpool. It's A Kind Of Magic. <a href="mailto:denis.d.gorbachev@gmail.com">Contact me</a> if you have questions.
