template(name="welcome")
  .welcome
    header.navbar.navbar-inverse.hero(role='banner')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') Wishpool
        nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
          ul.nav.navbar-nav.navbar-right
            li
              a(href='index.html') Home
            li
              a(href='features.html') Use Cases
            li
              a(href='contactus.html') Contact
            li
              a(href='signin.html') Login
    #hero
      .container
        h1.hero-text.animated.fadeInDown
          | Give your users a voice.
          br
        p.sub-text.animated.fadeInDown
          | Learn what users really want with a feedback widget. Wishpool helps you uncover customer insights that lead to better business results.
        .cta.animated.fadeInDown
          a.button-outline(href='features.html') View 30 second demo
          a.button(href='signup.html') Sign up free
          br
        .img
    #testimonials
      .container
        .row.header
          .col-md-12
            h3 Loved by businesses around the world
        .row
          .col-sm-6
            .testimonial.pull-right
              .quote
                | ... we received about 10,000 customer wishes; today, we are averaging about 70-100 wishes per day. We are thrilled by this, because we use these wishes to help shape our product roadmaps, granting as many of them as our engineers can handle... (source)
                .arrow-down
                  .arrow
                  .arrow-border
              .author
                img.pic(src='https://wishpool.me/images/emily.jpg', alt='testimonial1')
                .name Emily Sporl
                .company Product Marketing Manager
                .company Cisco
          .col-sm-6
            .testimonial
              .quote
                | This thing is one of those tools that everybody should be using. Most customers won’t expect you to reply to these kind of comments so it’s a nice way to collect feedback without having to stress to much about it. Make sure you still check it though! (source)
                .arrow-down
                  .arrow
                  .arrow-border
              .author
                img.pic(src='https://wishpool.me/images/alice.jpg', alt='testimonial2')
                .name Alice Default
                .company Growth and Marketing
                .company Front App
    #features
      .container
        .row.header
          .col-md-12
            h2 Know your users needs.
            p Understand and act on user requests to unlock growth.
        .row.feature
          .col-md-6.info
            h4 Build a better product with more user requests.
            p
              | At the core of every great company, is a great product. A product that users love!
              | Allow your users to tell you what they want. Start building new features with user requests instead of guesses.
          .col-md-6.image
            img.img-responsive(src='images/feature1.png', alt='feature1')
        .divider
        .row.feature.backwards
          .col-md-6.info
            h4 Improve user experience.
            p
              | What if your users could just tell you what they wanted? Do they wish your page was responsive? Do they want to invite friends? Give your customers a voice, let them tell you.
          .col-md-6.image
            img.img-responsive(src='images/feature2.png', alt='feature2')
        .row.feature
          .col-md-6.info
            h4 Increase retention rate.
            p
              | It's impossible to create a high growth company with a leaky funnel. Decrease churn by uncovering what your users need to stick around.
          .col-md-6.image
            img.img-responsive(src='images/feature1.png', alt='feature1')
    #cta
      .container
        .cta
          p Try Wishpool for 30 days free. Then only $79/month.
          a.button(href='signup.html') Sign up free
          p.nocredit No credit card required.
          br
          .col-md-8.col-md-offset-2
            iframe(src='https://widget.wishpool.me/b2Ea7JkduJkHkQgsM?userName=&userEmail=&userAvatarUrl=&userIsPaying=&userId=', frameborder='0', scrolling='no', allowtransparency='yes', style='display: block; margin: 0 auto; width: 100%; height: 40px;')
    #clients
      .container
        .row
          .col-md-12
            h3 Build better products
            p
              | These are companies that are using user feedback to build their products.
            .logos
              img(src='images/logos/google.png')
              img(src='images/logos/facebook.png')
              img(src='images/logos/apple.png')
              img(src='images/logos/stripe.png')
              img(src='images/logos/yahoo.png')
    #footer-white
      .container
        .row
          .col-sm-3.menu
            h3 Overview
            ul
              li
                a(href='features.html') Features
              li
                a(href='features.html') Use Cases
          .col-sm-3.menu
            h3 Menu
            ul
              li
                a(href='aboutus.html') About us
              li
                a(href='contactus.html') Contact us
              li
                a(href='aboutus.html') Jobs
                a.hiring(href='aboutus.html')
                  | We're hiring!
          .col-sm-2.menu
            h3 Social
            ul
              li
                a(href='#') Youtube
              li
                a(href='#') Facebook
              li
                a(href='#') Twitter
          .col-sm-4.newsletter
            .signup.clearfix
              p
                | Sign up for the newsletter and we'll inform you of updates, offers and more.
              form
                input.form-control(type='text', name='email', placeholder='Your email address')
                input(type='submit', value='Sign up')
        .row.credits
          .col-md-12
            | Copyright © 2014. Wishpool
