template(name="widgetAdd")
  .container
    .row
      .col-xs-12.col-md-6
          h2 Default
    .row
      .col-xs-12.col-md-6
          h3 Step 1. Customize
      .col-xs-12.col-md-6
          h3 Step 2. Apply to your site
    .row
      .col-xs-12.col-md-6
        form.form-horizontal
          .form-group
            label(for="label-input").col-xs-2.control-label Label
            .col-xs-8
              input(id="label-input", placeholder="I wish this page").form-control
          .form-group
            label(for="placeholder-input").col-xs-2.control-label Example
            .col-md-8
              input(id="placeholder-input", placeholder="...had better graphics").form-control
          .form-group
            .col-md-2
              label Button
            .col-md-4
              .btn-group.btn-group-md
                button.btn.btn-default.btn-sm.btn-group.fa.fa-paper-plane.active
                //TODO make active switchable
                button.btn.btn-default.btn-sm.btn-group.fa.fa-check
                button.btn.btn-default.btn-sm.btn-group.fa.fa-reply
                button.btn.btn-default.btn-sm.btn-group.fa.fa-rocket
          .form-group
            .col-md-2
              label(for="css-textarea") CSS
            .col-md-8
              textarea(id="css-textarea" placeholder="Paste your code here", rows="6").form-control
          .form-group
            button.btn.btn-success(type="button") Save

      .col-xs-12.col-md-6
        form(role="form")
          .form-group
            textarea(rows="4").form-control
              | some code
          button.btn.btn-success.copy-to-clipboard(type="button") Copy to clipboard and paste to the site
