template(name="footer")
  footer.footer
    .container
      .row
        .col-xs-6.col-xs-offset-3
          h6.text-center How can we make Wishpool better for you?
          iframe(src='https://widget.wishpool.me/cBCpdKbQicJtCmu3C?{{#if currentUserId}}userName={{encodeURIComponent currentUser.profile.name}}&userEmail={{encodeURIComponent currentUserEmail}}&userAvatarUrl={{encodeURIComponent currentUser.profile.image}}&userIsPaying=false&userId={{encodeURIComponent currentUser._id}}&{{/if}}url={{encodeURIComponent currentUrl}}', frameborder='0', scrolling='no', allowtransparency='yes', style='display: block; margin: 4px auto; width: 100%; height: 40px;')
          h6.text-center How can we make Wishpool better for you?"
          iframe(src='https://widget.wishpool.me/Qk4HZxTAZBJifns3F?{{#if currentUserId}}userName={{encodeURIComponent currentUser.profile.name}}&userEmail={{encodeURIComponent currentUserEmail}}&userAvatarUrl={{encodeURIComponent currentUser.profile.image}}&userIsPaying=false&userId={{encodeURIComponent currentUser._id}}&{{/if}}url={{encodeURIComponent currentUrl}}', frameborder='0', scrolling='no', allowtransparency='yes', style='display: block; margin: 4px auto; width: 100%; height: 40px;')
