.widget
  .preview
    background-color #ffffff
    border 1px dashed #333333
  .widget-code-editor
    font-weight normal
.btn-default
  &.active
    color #000 !important
.widget
  .preview
    border 0px dashed #1FBEE7



.panel-default
  & > .panel-heading
    background-color #fff !important
    color #355069 !important






