<template name="pricing">
  <div class="welcome">
    <div id="pricing">
      <div id="first-option">
        <div class="container">
          <div class="row header">
            <div class="col-md-12">
              <h3>Give your users a voice</h3>
              <p>Learn what your users want from your product</p>
            </div>
          </div>
          <div class="row charts">
            <div class="col-md-4">
              <div class="chart featured">
                <div class="plan-name">Wishpool</div>
                <div class="quantity">
                  <span class="dollar">$</span>
                  <span class="price">79</span>
                  <span class="period">/month</span>
                </div>
                <div class="specs">
                  <div class="spec">
                    <span class="variable">Unlimited</span>
                    user request
                  </div>
                  <div class="spec">
                    <span class="variable">Unlimited</span>
                    domains
                  </div>
                  <div class="spec">
                    <span class="variable">Priority</span>
                    support
                  </div>
                  <div class="spec">
                    <span class="variable">Insightful</span>
                    analytics
                  </div>
                  <div class="spec">
                    <span class="variable">0.5%</span>
                    Transaction fee
                  </div>
                </div>
                <a class="btn-signup button-clear" href="../../react-wrap%202/theme%20v1.2/signup.html">
                  <span>Start free trial</span>
                  <p>No credit card required</p>
                </a>
              </div>
            </div>
            <div class="row faq">
              <div class="col-md-12">
                <div class="row header">
                  <div class="col-md-12">
                    <h3>Frequently Asked Questions</h3>
                  </div>
                </div>
                <div class="row questions">
                  <div class="col-md-6">
                    <div class="question">
                      <strong>Do I need a card to signup?</strong>
                      <p>
                        No, you do not. Try us out for 30 days free and see how it transforms
                        your business.
                      </p>
                    </div>
                    <div class="question">
                      <strong>Can I cancel at anytime?</strong>
                      <p> Yes you can cancel anytime. We will earn your business over every day,
                        if your not satisfied your free to cancel your subscription.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="question">
                      <strong>Can I give you feature requests?</strong>
                      <p> We welcome user requests with open arms and have included a feedback box
                        in every page through out our application to make it easy for you to do
                        so.
                      </p>
                    </div>
                    <div class="question">
                      <strong>Do I need technical skills?</strong>
                      <p> No, most of our users are marketers or product managers. It's so simple
                        a monkey could use Wishpool.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contact">
              <div class="col-md-12">
                <div class="wrapper clearfix">
                  <h4>
                    <span class="brankic-phone2"></span>
                    Have questions about Wishpool? Call us at <strong>1-800-123-4567</strong>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer-white">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 menu">
              <h3>Overview</h3>
              <ul>
                <li>
                  <a href="/features">Features</a>
                </li>
                <li>
                  <a href="/features">Use Cases</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3 menu">
              <h3>Menu</h3>
              <ul>
                <li>
                  <a href="/aboutus">About us</a>
                </li>
                <li>
                  <a href="/contactus">Contact us</a>
                </li>
                <li>
                  <a href="">Jobs</a>
                  <a href="" class="hiring">
                    We're hiring!
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-sm-2 menu">
              <h3>Social</h3>
              <ul>
                <li>
                  <a href="#">Youtube</a>
                </li>
                <li>
                  <a href="#">Facebook</a>
                </li>
                <li>
                  <a href="#">Twitter</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4 newsletter">
              <div class="signup clearfix">
                <p>
                  Sign up for the newsletter and we'll inform you of updates, offers and more.
                </p>
                <form>
                  <input type="text" name="email" class="form-control" placeholder="Your email address" />
                  <input type="submit" value="Sign up" />
                </form>
              </div>
            </div>
          </div>
          <div class="row credits">
            <div class="col-md-12">
              Copyright © 2014. Wishpool
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
