body
  height 100%
  .welcome .scrollto, .welcome .scrollto:hover
    width auto
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
    cursor auto
  .table>thead>tr>th
    vertical-align top
  .btn.btn-Google
    color #ffffff
  .btn.btn-Google:hover, .btn.btn-Google:focus, .btn.btn-Google.focus
    color #ffffff
    background-color #cb171e
  #login-dropdown-list
    input:last-of-type
      border-radius 0
    .navbar-form
      padding-left 0
      padding-right 0
    .btn-lg
      margin 0
