template(name="index")
  .index.container
    .row
      .col-xs-12
        if starred.count
          h5.text-muted Starred
          .list-group
            each starred
              +feedback
        if new.count
          h5.text-muted New
          .list-group
            each new
              +feedback
        if archived.count
          h5.text-muted Archived
          .list-group
            each archived
              +feedback
        if not starred.count
          if not new.count
            if not archived.count
              h5 No feedback received yet
              p Please install Wishpool widget on your site. You'll catch something soon :)
              p If you have any questions, just <a href="mailto:denis.d.gorbachev@gmail.com">shoot me an email</a>.
  if not starred.count
    if not new.count
      if not archived.count
        +widget(widgetTemplateContext)


