template(name="index")
  .index.container
    .row
      .col-xs-12.col-md-6.col-md-offset-3
        if noDomains
          h2 Setup Wishpool on your site
          form(role="form")
            .form-group
              label(for="name") Your domain
              input.form-control(id="name" name="name" placeholder="example.com")
            button.btn.btn-success(type="submit") Get the code!