<template name="signup">
  <div class="welcome">
    <div id="signup">
      <div class="row header">
        <div class="col-md-12">
          <h3 class="logo">
            <a href="index.html">Wishpool</a>
          </h3>
          <h4>Set up your new account today.</h4>
          Try us out for 30 days free. Then only $79/month.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="wrapper clearfix">
            <div class="formy">
              <div class="row">
                <div class="col-md-12">
                  {{> _loginButtonsLoggedOutAllServices}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3 hidden-xs">
            <iframe src="https://widget.wishpool.me/D8ieweJH3QzWJppfL?userName=&userEmail=&userAvatarUrl=&userIsPaying=&userId=" frameborder="0" scrolling="no" allowtransparency="yes" style="display: block; margin: 0 auto; width: 100%; height: 40px;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
